* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 255);
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 255, 0.5);
}
h1 {
  font-size: 45px;
  margin-bottom: 1rem;
  color: var(--darkblue);
}
h2 {
  font-size: 32px;
  margin-bottom: 1rem;
  color: var(--darkblue);
}
h3 {
  font-size: 22px;
  margin-bottom: 1rem;
  color: var(--sharpblue);
}
p {
  font-size: 17.6px;
  font-weight: 500;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
:root {
  --bgcolor: #6610f2;
  --sharpblue: #2513d1;
  --darkblue: #1e1666;
  --textcolor: #6a7692;
  --body-padding: 3rem 2rem 3rem 2rem;
  --side-padding: 0 3rem 0 3rem;
}
#hero {
  background-color: var(--bgcolor);
  color: white;
  padding: 2rem 2.5rem 2rem 2.5rem;
  font-weight: bold;
  /* height: 100vh; */
}
#hero h1, #hero h3 {
  color: #fff;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav nav {
  margin-right: 10rem;
}
.logo {
  margin-left: 3rem;
}
ul {
  display: flex;
  list-style: none;
}
li {
  margin-right: 2rem;
  font-size: 1.2rem;
}
li:last-child {
  margin-right: 0;
}
.hero-body {
  padding: var(--body-padding);
}
.hero-text {
  clear: both;
}
.row {
  display: flex;
  margin-bottom: 20px;
}

.col-1-2 {
  flex: 1;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.col-1-3 {
  flex: 1;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}

.col-2-3 {
  flex: 2;
  width: 66.66%;
  padding: 10px;
  box-sizing: border-box;
}

.col-1-4 {
  flex: 1;
  width: 25%;
  padding: 10px;
  box-sizing: border-box;
}
.hero-action {
  margin: 2rem 0;
}
.button {
  background-color: var(--sharpblue);
  padding: 0.7rem 1rem;
  color: white;
  border: none;
  border-radius: 5px;
  margin-right: 2rem;
  font-size: 20px;
  font-weight: 500;
}
.hero-image {
  text-align: end;
}
.hero-image img {
  height: 80vh;
  width: auto;
}
#solution {
  background-color: white;
  padding: var(--body-padding);
}
.solution-image img {
  height: 90vh;
  width: auto;
  margin-left: auto;
}
.solution-text {
  padding: var(--side-padding);
}
.solution-text h1 {
  color: var(--darkblue);
}
.solution-text h1 span {
  color: var(--sharpblue);
}
.solution-text p,
.solution-text ul {
  color: var(--textcolor);
  display: block;
  padding-left: 20px;
}
.solution-text ul li::before {
  content: "\2713";
  color: var(--sharpblue);
  margin-right: 20px;
  font-weight: bolder;
  font-size: 30px;
}
.bar {
  position: relative;
  display: inline-block;
  margin-bottom: 2rem;
}
.bar::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 5px;
  background-color: var(--sharpblue);
}
.solution-action {
  padding: 3rem;
}
#service {
  background-color: #f4f7fc;
  padding: var(--body-padding);
  text-align: center;
}
.service-head {
  text-align: center;
}
.service-head h3 {
  color: var(--sharpblue);
}
.service-head h1 {
  color: var(--darkblue);
}
.service-body {
  text-align: center;
  margin: auto;
}
.service-body p {
  color: var(--textcolor);
}
.service-text p {
  max-width: 60%;
  margin: auto;
}
.bounce {
  animation-name: bounce;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-in-bottom-left {
  animation-name: fade-in-bottom-left;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes fade-in-bottom-left {
  0% {
    opacity: 0;
    transform: translate(-50px, 50px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
.card {
  margin: 2.5rem 1.5rem;
  padding: 2.5rem 5rem;
  background-color: #fff;
  text-align: center;
}
a {
  text-decoration: none;
  font-size: 1.2rem;
}
.blob {
  margin: auto;
  padding-bottom: 2rem;
}
.blob-image {
  width: 130px;
}
.fade-in-down {
  animation-name: fade-in-down;
  animation-duration: 2s;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#how {
  padding: var(--body-padding);
  text-align: center;
}
.how-head {
  text-align: center;
}
.how-head h3 {
  color: var(--darkblue);
}
.how-body {
  text-align: center;
  margin: auto;
}
.how-body p {
  color: var(--textcolor);
  max-width: 60%;
  margin: auto;
  padding-bottom: 1rem;
}
.icon-box img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 50%;
  box-shadow: 0 0 10px grey;
  transition: width ease-in-out 1s, height ease-in-out 1s;
}
.icon-box:hover .icon-box-img {
  width: 150px;
  height: 150px;
}
#counter {
  background-color: var(--sharpblue);
}
.counter, .counter h3{
  text-align: center;
  font-weight: bolder;
  color: #fff;
}
.counter {
  padding: 4rem;
}
.count img {
  height: 70px;
  width: 70px;
  object-fit: cover;
}
.count h3 {
  margin-bottom: 0;
}
#consult {
  padding: var(--body-padding);
  text-align: center;
}
.consult img {
  height: 90vh;
  width: auto;
  margin-left: auto;
}
.consult-body {
  padding: var(--body-padding);
  text-align: left;
}
.opacity50 {
  opacity: 0.1;
  font-size: 5rem;
  text-align: left;
}
#testimonial {
  background-color: #f4f7fc;
  padding: var(--body-padding);
  text-align: center;
}
.testimonial-head {
  text-align: center;
  margin: auto;
}
.testimonial-head p {
  color: var(--textcolor);
  max-width: 60%;
  margin: auto;
}
.testimonial-body {
  display: flex;
  text-align: center;
  margin: auto;
  justify-content: center;
  padding-top: 0;
}
.blob-div {
  margin: 2.5rem 1.5rem;
  padding: 5rem 5rem 2.5rem;
  background-color: #fff;
  text-align: center;
  width: 400px;
  border-radius: 13rem 13rem 13rem 25rem;
}
.testimonial-body .blob-image {
  transform: translateY(7rem);
  border-radius: 50%;
  width: 100px;
}
#contact {
  padding: var(--body-padding);
  text-align: left;
  
}
.contact-body input, textarea {
  padding: 1rem;
  margin: 0;
  width: 100%;
}
blockquote {
  font-weight: bold;
  color: darkgray;
  margin-bottom: 1rem;
}
cite {
  font-weight: bold;
  color: var(--sharpblue);
}
#great {
  background-color: var(--darkblue);
  
}
.great,
.great h2 {
  text-align: right;
  font-weight: bolder;
  color: #fff;
}
.great {
  padding: 3rem;
}
#blog {
  background-color: #f4f7fc;
  padding: var(--body-padding);
  text-align: center;
}
.blog-head {
  text-align: center;
}
.blog-head h3 {
  color: var(--sharpblue);
}
.blog-head h1 {
  color: var(--darkblue);
}
.blog-body {
  text-align: center;
  margin: auto;
}
.blog-body p {
  color: var(--textcolor);
}
.blog-text p {
  max-width: 60%;
  margin: auto;
}